@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(231, 193, 235);
    font-family: 'Kanit', sans-serif;
}
main{
    min-width: 400px;
}
.container {
    width: 80%;
    margin: 30px auto;
    display: grid;
    gap: 30px;
}

.profileImg {
    width: 150px;
    border-radius: 50%;
}

.headerTitle {
    display: flex;
}

.personalInfo {
    width: 100%;
    text-align: end;
}

.headerMenu {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}

.headerMenu > a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 20px;
}
.headerMenu > a:hover{
    color: #ff00fb;
}
.title::after{
    content: "";
    width: 150px;
    height: 6px;
    display: block;
    background-color: #7f538991;
    border-radius: 10px;
    margin-bottom: 20px;
}

.list_card_container{
    display: grid;
    gap: 30px;
    margin-top: 30px;
}

.card{
    border: 1px solid #bfbfbf;
    padding: 20px;
    border-radius: 5px;
    background-color: #7f538991;
    display: grid;
    gap: 10px;
}  

@media (min-width:110px){
    .container{
        width: 75%;
    }
    
}