.professionalExperience_container{
    display: grid;
    gap: 30px;
    margin-top: 30px;
}
.card_professionalExperience{
    border: 1px solid #bfbfbf;
    padding: 20px;
    border-radius: 5px;
    background-color: #7f538991;
    display: grid;
    gap: 10px;
}  
.activities{
    margin-left: 20px;
    list-style: circle;
}